html {
  box-sizing: border-box;
}

/* переменные */
:root {
  --primary-text-colot: #212121;
  --title-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --timing-functions: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-colot);

  /* padding-top: 80px; */

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* улититы */
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: var(--title-text-color);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* Шапка */

/* контейнер нав */
.header {
  /* фиксированная шапка */
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; */
  height: 80px;

  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
}

.maim-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  color: black;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-colot);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-time) var(--timing-functions);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;

  color: var(--accent-color);
}

/* нижнее подчеркивание */
.link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* auth-nav */
.auth-nav {
  display: inline-flex;

  margin-left: auto;
}

.auth-nav .item-autn-nan + .item-autn-nan {
  margin-left: 50px;
}

.auth-nav .icon-contacts {
  display: inline-flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 32px;
  fill: var(--title-text-color);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-time) var(--timing-functions),
    fill var(--transition-time) var(--timing-functions);
}

.auth-nav .icon-contacts:hover,
.auth-nav .icon-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
}
.icon-tel {
  margin-right: 10px;
}
/* .icon-mail::before {
  content: '';

  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/icons.svg/envelope.svg);
  background-position: center;
} */

/* .icon-tel::before {
  content: '';

  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/icons.svg/smartphone.svg);
  background-position: center;
  background-size: contain;
} */

/* Стили для htkl */

/* Герой */
.section-hero {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}
.main-hero {
  width: 696px;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */
.button {
  border: 1px solid rgba(0, 0, 0, 0.2);

  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  /* font-family: inherit; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transition: box-shadow var(--transition-time) var(--timing-functions);
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* описание работы */

.section-description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  text-transform: uppercase;
}
.section-items {
  display: flex;
}

.section-items .item-description + .item-description {
  margin-left: 30px;
}

.item-description {
  width: 270px;
}

.icon-description {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

/* .item-description::before {
  display: block;
  content: '';

  height: 120px;

  margin-bottom: 30px;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: #f5f4fa;
} */

/* .icon-antenna::before {
  background-image: url(../images/icons.svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons.svg/clock.svg);
}
.icon-rectangel::before {
  background-image: url(../images/icons.svg/rectangle.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons.svg/astronaut.svg);
} */

.section-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
}

/* наши услуги */
.services-list {
  padding-bottom: 94px;
}

.section-heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.section-foto-works {
  display: flex;
  justify-content: space-between;
}

.img-work {
  display: block;
}

.label-position {
  position: relative;
}

.label {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;

  bottom: 0;

  width: 100%;

  background: rgba(47, 48, 58, 0.8);
}

.label-text {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* наша команда */
.section-command {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: rgba(245, 244, 250, 1);
}

/* карточки команды */

.container-command {
  justify-content: space-between;
}

.section-list {
  display: flex;

  text-align: center;
}

.section-list .section-card + .section-card {
  margin-left: 30px;
}

.section-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);
}

.faces {
  display: block;
}

.command-items {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* имена коллег */
.section-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* работа коллег */
.section-work {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* соц-сети-команды */

.networks-items {
  display: flex;
}

.networks-items {
  justify-content: center;
}
.icon-item {
  margin-right: 10px;
}

.icon-item:last-child {
  margin-right: 0;
}

.networks-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: #afb1b8;
  background-color: var(--primary-white-color);

  cursor: pointer;

  transition: fill var(--transition-time) var(--timing-functions),
    background-color var(--transition-time) var(--timing-functions);
}

.networks-item:hover,
.networks-item:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* постоянные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-items {
  display: flex;
}

.clients-item {
  display: block;

  margin-right: 30px;
}
/* .clients-items .clients-item + .clients-item {
  margin-left: 30px;
} */
.clients-item:last-child {
  margin-right: 0;
}

.icon-clients {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: #afb1b8;

  transition: fill var(--transition-time) var(--timing-functions),
    border var(--transition-time) var(--timing-functions);
}

.icon-clients:hover,
.icon-clients:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Стили для пордфолио */

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Фильтки / Кнопки */
.button-items {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.button-items .button-item + .button-item {
  margin-left: 8px;
}

.button-items .portfolio-button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}

.portfolio-button {
  color: var(--primary-text-colot);
  background-color: rgba(245, 244, 250, 1);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: color var(--transition-time) var(--timing-functions),
    box-shadow var(--transition-time) var(--timing-functions),
    background-color var(--transition-time) var(--timing-functions);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* наши услуги */
.services {
  display: flex;

  flex-wrap: wrap;
}

.services-items {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  cursor: pointer;
}

.services-box {
  display: block;

  transition: box-shadow var(--transition-time) var(--timing-functions);
}

.services-box:hover,
.services-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* анимация  */

/* .services-box:hover .active::before,
.services-box:focus .active::before {
  opacity: 1;
} */

.active {
  position: relative;

  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform var(--transition-time) var(--timing-functions);
}

/* анимация */
.services-box:hover .product-overlay,
.services-box:focus .product-overlay {
  transform: translateY(0);
}

.foto-services {
  display: block;
}

.product-actions {
  position: absolute;

  width: 322px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-text {
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.border {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.services-items:nth-child(3n) {
  margin-right: 0;
}

.services-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-production {
  margin-bottom: 4px;

  color: var(--primary-text-colot);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

/* футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(47, 48, 58, 1);
}

.footet-page {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.contacts-item {
  margin-bottom: 9px;
}
.contacts-item:last-child {
  margin-bottom: 0;
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
}

.footer-auth-nav .link-contacts {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-time) var(--timing-functions);
}

.footer-auth-nav .link-contacts:hover,
.footer-auth-nav .link-contacts:focus {
  color: var(--accent-color);
}

/* присоединяйтесь */

.footer-join {
  margin-right: 94px;
}

.join {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-items {
  display: flex;
}

.join-item {
  display: flex;
  margin-right: 10px;
}

.join-item:last-child {
  margin-right: 0;
}

.join-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-time) var(--timing-functions);
}

.join-icon-item:hover,
.join-icon-item:focus {
  background-color: var(--accent-color);
}

/* подпишись на рассылку */

.subscribe {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.form-footer {
  display: flex;
}

.form-footer input {
  width: 358px;
  height: 50px;

  margin-right: 12px;
  padding: 16px 15px;

  color: var(--primary-white-color);
  font-size: 16px;

  background-color: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border var(--transition-time) var(--timing-functions);
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.submit {
  display: flex;
  align-items: center;
}
.span-subscribe {
  margin-right: 10px;
}

/* бекдроп */
.backdrop {
  position: fixed;

  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity var(--transition-time) var(--timing-functions);
}

/* утилита */
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

/* модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform var(--transition-time) var(--timing-functions),
    opacity var(--transition-time) var(--timing-functions);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* кнопка закрытия */
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: fill var(--transition-time) var(--timing-functions);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

/* форма */
.form-modal {
  width: 528px;
  padding: 40px;
}

.form-title {
  margin-bottom: 12px;

  color: var(--primary-text-colot);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.label-group {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border var(--transition-time) var(--timing-functions),
    fill var(--transition-time) var(--timing-functions);

  outline: none;
}

.input:hover,
.input:focus {
  border: 1px solid var(--accent-color);
}
.input:hover + .form-activ-icon,
.input:focus + .form-activ-icon {
  fill: var(--accent-color);
}

.form-activ-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  /* transform: translateY(-50%); */
}

label {
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.01em;

  color: var(--title-text-color);
}

textarea {
  margin-top: 4px;
  padding: 12px 16px;

  height: 120px;

  resize: none;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--transition-time) var(--timing-functions);
}

textarea:hover,
textarea:focus {
  border: 1px solid var(--accent-color);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment {
  margin-bottom: 20px;
}

/* чекбокс */

.options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox:checked + .icon-send {
  background-color: var(--accent-color);
  border: none;
}
.checkbox:focus + .icon-send {
  border-color: var(--accent-color);
}
.checkbox:hover + .icon-send {
  border-color: var(--accent-color);
}

.icon-send {
  margin-right: 8px;

  border: 2px solid var(--primary-text-colot);
  border-radius: 2px;
  /* background-origin: border-box; */

  transition: background-color var(--transition-time) var(--timing-functions),
    border var(--transition-time) var(--timing-functions),
    border-color var(--transition-time) var(--timing-functions);

  cursor: pointer;
}

.agreement {
  margin-left: 4px;

  color: var(--accent-color);
}

.agreement::after {
  position: absolute;
  content: '';

  right: 12px;
  bottom: 5px;

  width: 28.5%;
  height: 0.5px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.form-button {
  display: flex;
  justify-content: center;

  width: 200px;

  margin-right: auto;
  margin-left: auto;
}
