/*  Фильтки / Кнопки */
.portfolio-button__list {
  @include centeredFlex;
  margin-bottom: 50px;
}

.portfolio-button__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.portfolio-button__button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: $primary-text-colot;
  background-color: $secondry-background-color;

  border-radius: 4px;
  border: 1px solid transparent;

  cursor: pointer;

  transition: color $transition-time $timing-functions,
    box-shadow $transition-time $timing-functions,
    background-color $transition-time $timing-functions;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: $portfolio-button__button-box-shadow;
  }
}
