/* подпишись на рассылку */
.subscribe__title {
  margin-bottom: 20px;

  color: $primary-white-color;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.form-footer {
  display: flex;
}

.form-footer__input {
  width: 358px;
  height: 50px;

  margin-right: 12px;
  padding: 16px 15px;

  color: $primary-white-color;
  font-size: 16px;

  background-color: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border $transition-time $timing-functions;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}
