$fontFamilyMain: Roboto, sans-serif;
$fontFamilyLogo: 'Raleway';

$primary-text-colot: #212121;
$title-text-color: #757575;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$primary-fill-colot: #afb1b8;
$primary-background-color: #ffffff;
$secondry-background-color: rgba(245, 244, 250, 1);
$footer-background-color: rgba(47, 48, 58, 1);

$transition-time: 250ms;
$timing-functions: cubic-bezier(0.4, 0, 0.2, 1);

$gap10: 10px;
$gap30: 30px;
