.button {
  width: 200px;
  height: 50px;

  color: $primary-white-color;
  background-color: $accent-color;
  // font-family: inherit;
  @include buttonSize;

  border: 1px solid $button-border;
  border-radius: 4px;

  transition: box-shadow $transition-time $timing-functions;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: $button-box-shadow;
  }
}

// футер
.footer__button {
  @include centeredFlex;
  gap: $gap10;
}

// бэкдроп кнопка залытия
.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: $primary-background-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill $transition-time $timing-functions;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

// модальная кнопка
.button--big {
  @include centeredFlex;
  margin-right: auto;
  margin-left: auto;
}
